<form
  (ngSubmit)="registerUser()"
  #registrationForm="ngForm"
  class="container mt-4"
  name="registrationForm"
>
  <div class="row mb-3">
    <div class="col-md-5 mb-3">
      <input
        placeholder="First Name"
        type="text"
        id="firstName"
        name="firstName"
        [(ngModel)]="firstName"
        class="form-control"
        required
        maxlength="50"
        aria-required="true"
        (blur)="checkFirstNameValidity()"
      />
      <small class="form-text text-muted character-counter"
        >{{ registrationForm.value.firstName?.length }} / {{ 50 }}
      </small>
      <small *ngIf="showFirstNameError" class="form-text text-danger">
        *First Name is required
      </small>
    </div>
    <div class="col-md-2 mb-3">
      <input
        placeholder="Middle Initial"
        type="text"
        id="middleInitial"
        name="middleInitial"
        [(ngModel)]="middleInitial"
        class="form-control"
      />
      <small
        *ngIf="middleInitial && middleInitial.length !== 1"
        class="form-text text-danger"
      >
        Middle Initial must be a single letter.
      </small>
    </div>
    <div class="col-md-5 mb-0">
      <input
        placeholder="Last Name"
        type="text"
        id="lastName"
        name="lastName"
        [(ngModel)]="lastName"
        class="form-control"
        required
        maxlength="50"
        (blur)="checkLastNameValidity()"
      />
      <small class="form-text text-muted character-counter"
        >{{ registrationForm.value.lastName?.length }} / {{ 50 }}
      </small>
      <small *ngIf="showLastNameError" class="form-text text-danger">
        *Last Name is required
      </small>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6 mb-3">
      <input
        placeholder="Email"
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        class="form-control"
        required
      />
    </div>
    <div class="col-md-6 mb-3">
      <input
        placeholder="Phone"
        type="tel"
        id="phone"
        name="phone"
        [(ngModel)]="phone"
        class="form-control"
        required
        (input)="formatPhoneNumber($event)"
        maxlength="14"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button
        type="submit"
        class="btn btn-primary me-2"
        [disabled]="isSubmitDisabled()"
      >
        Submit
      </button>
      <button
        type="button"
        (click)="cancelRegistration()"
        class="btn btn-secondary"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
