<div class="container mt-5 table-responsive">
  <h2>Users</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Middle</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Enabled</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of users">
        <tr *ngIf="user.isEnabled">
          <td>{{ user.userID }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.middle }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.isEnabled }}</td>
          <td>
            <button (click)="deleteUser(user.userID)">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
