<!-- users.component.html -->

<div class="container mt-5">
  <h2>Users</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Middle</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Enabled</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.middle }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.enabled ? "Yes" : "No" }}</td>
        <td>
          <button (click)="deleteUser()">
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
