.nav-item a.active {
  background-color: #001489;
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  .nav-item a.active {
    background-color: #001489;
    color: #fff;
    padding: 5px;
    margin-right: 25px;
  }
}

.nav-link-logo {
  max-width: 100px;
  height: auto;
}
